<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/sucesso.css">
    <title>Cadastrado Com Sucesso</title>
</head>
<body>
    <div class="tenor-gif-embed" data-postid="5130883159510254210" data-share-method="host" data-aspect-ratio="1.33155" data-width="100%"><a href="https://tenor.com/view/goku-dragon-ball-z-dragon-ball-thumbs-up-approval-gif-5130883159510254210">Goku Dragon Ball Z GIF</a>from <a href="https://tenor.com/search/goku-gifs">Goku GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <div>
        <h1>Usuario Cadastrado Com Sucesso!!!</h1>
    </div>
</body>
</html>