<!DOCTYPE html>

<html>

<head>
    <title>Principal</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/principal.css">
</head>

<body>
    <div class="div-principal">
        <div>
            <h1>Bem vindo {{ nome }}</h1>
        </div>
        <div>
            <h2>INFORMAÇÕES</h2>
            <p><strong>Nome:</strong> {{ nome }}</p>
            <p><strong>Data Nascimento: </strong> {{ data_nascimento }}</p>
            <p><strong>Email: </strong> {{ email }}</p>
        </div>
    </div>


</body>

</html>